.container {
   // background-color: rgb(42, 23, 148);
   background-color: black;
   color: #eeeeee;
   font-weight: 600;
   width: 320px;
   height: 100vh;
   padding: 24px;
   overflow-y: scroll;
   // border-radius: 40px;
   h2 {
      color: rgb(209, 209, 209);
      padding: 8px;
      background-color:#0C082B;
      margin-bottom: 16px;
   }
}

