.link {
   width: 100%;
   font-size: 14px;   
}

.heading {
   color: rgb(187, 187, 187);
   font-size: 16px;
}

.container {
   margin-bottom: 24px;
   list-style-position: inside;
}

.link-container {
   margin-right: 8px;
}